/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* HEADER */
header {
    background-color: rgb(246 105 4);
    position: relative;
    top: 0;
    width: 100%;
}

.logo {
    position: absolute;
    width: 10rem;
    top: 1.5rem;
    right: calc(50% - 5rem);
}

nav {
    width: 75%;
    margin: 0 auto;
    padding: 2rem 0;
}

/* flex property nav */
.flex-nav {
    display: flex;
    justify-content: space-between;
}

/* flex property ul */
.flex-links {
    display: flex;
}

.links li {
    list-style-type: none;
}

/* for every a in page */
a{ 
    text-decoration: none;
    color: white;
}

.space {
    padding-right: .5rem;
}

/* MAIN */
main {
    width: 80%;
    margin: 0 auto;
}

/* flex property row */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 3);
    padding: 50px;
}

.card {
    position: relative;
}

/* card img changer */
.hover {
    display: none;
}

.card:hover .normal {
    display: none;
}

.card:hover .hover {
    display: inline-block;
}
/* /card img changer */

.like {
    background-color: white;
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 0;
}

.like:hover {
    color: red;
}

.brand {
    font-size: .7rem;
    color: gray;
}



.cost {
    font-size: .7rem;
    color: red;
    padding-right: 3px ;
}

.old-cost {
    font-size: .7rem;
    color: grey;
    text-decoration: line-through;
}

.tags {
    position: absolute;
    bottom: 30px;
    left: 0;
}
.discount {
    background-color: red;
    color: white;
    padding: .1rem .3rem;
    margin-right: 3px;
}

.eco {
    background-color: green;
    color: white;
    padding: .1rem .3rem;
    margin-right: 3px;
}

/* FOOTER */
footer {
    background-color: black;
}

.foot {
    width: 75%;
    margin: 0 auto;
    padding: 20px 0;
}

/* flex property foot */
.flex-foot {
    display: flex;
    justify-content: space-between;
}

.find,
.society {
    color: white;
    padding-bottom: 10px;
}
